// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Josefin Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


.blue-color{
    color: $blue;
}
.indigo-color{
    color: $indigo;
}
.purple-color{
    color: $purple;
}
.pink-color{
    color: $pink;
}
.red-color{
    color: $red;
}
.orange-color{
    color: $orange;
}
.yellow-color{
    color: $yellow;
}
.green-color{
    color: $green;
}
.teal-color{
    color: $teal;
}
.cyan-color{
    color: $cyan;
}


.table > thead > tr > th {
    font-weight: 700;
}


.bg-chocolate{
    background-color: chocolate;
}

.bg-purple{
  background-color: turquoise;
}
